body {
  background-color: #202020;
}

:root {
  --top-height: 25px;
  --middle-height: calc(65vh);
  --bottom-height: calc(35vh - 25px);
}

.top {
  height: var(--top-height);
}

.middle {
  height: var(--middle-height);
  display: flex;
}

.bottom {
  height: var(--bottom-height);
}

.header {
  display: flex;
}

.header div {
  height: inherit;
  width: 50px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.evalbar {
  width: 18px;
  display: flex;
  flex-direction: column;
  font-size: 7pt;
  text-align: center;
  margin-right: 5px;
}

.evalbar div {
  transition: height 0.75s ease-in-out;
}

.board {
  width: calc(50% - 12px);
  height: inherit;
}

.eval-chart {
  width: 100%;
  height: 100%;
}

.panel {
  width: calc(40% - 12px);
}

.moves {
  height: 90%;
  overflow: auto;
  background-color: #2e2e2e;
  display: flex;
  flex-wrap: wrap;
}

.play-panel {
  height: 10%;
  background-color: #101010;
  display: flex;
  justify-content: center;
}

.play-panel div {
  min-width: 40px;
  height: 20px;
  cursor: pointer;
  color: white;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row .active {
  background-color: #101010;
  color: white;
}

.row div {
  padding-left: 5px;
  padding-right: 5px;
}

.row-index {
  width: 45px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  color: #ddd;
  background-color: #161616;
}

.row-white,
.row-black {
  cursor: pointer;
  width: 50%;
  border-bottom: solid 1px #1a1a1a;
}

.row-white {
  border-right: solid 1px #101010;
}

.row-white:hover {
  background-color: #4b4b4b;
}

.row-black:hover {
  background-color: #202020;
}
