body {
  background-color: #202020;
}

:root {
  --top-height: 25px;
  --middle-height: calc(65vh);
  --bottom-height: calc(35vh - 25px);
}

.top {
  height: var(--top-height);
}

.middle {
  height: var(--middle-height);
  display: flex;
}

.bottom {
  height: var(--bottom-height);
}

.header {
  display: flex;
}

.header div {
  height: inherit;
  width: 50px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.evalbar {
  width: 10px;
  background-color: green;
}

.board {
  width: calc(50% - 12px);
  height: inherit;
}

.panel {
  padding: 10px;
  width: calc(50% - 12px);
}

.moves {
  min-height: 150px;
  background-color: #101010;
  display: flex;
  flex-wrap: wrap;
}

.move {
  background-color: antiquewhite;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.moves input {
  height: 30px;
}

.play-panel {
  min-height: 150px;
  background-color: #101010;
  display: flex;
}

.play-panel div {
  min-width: 40px;
  height: 20px;
  cursor: pointer;
  color: white;
}

.eval-chart {
  width: 100%;
  height: 100%;
}
